{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/Spectrum_1_8_1.css' %}" type="text/css" />
{% endblock %}

{% block content %}

<!-- Heatmap Controls Row -->
<div class="container" style="margin-top: 30px;">
  <div class="row text-center" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 15px;">

    <!-- Receptor Names -->
    <div class="dropdown" style="position: relative;">
      <button class="btn btn-primary dropdown-toggle" type="button" id="Heatmap_LabelType_Button" data-toggle="dropdown">
        Receptor names
      </button>
      <div class="dropdown-menu p-2 text-center"
           style="min-width: 160px; padding: 10px 15px; left: 100%; top: 50%;
                  margin-left: 5px; position: absolute; transform: translateY(-50%);">
        <button class="btn btn-primary btn-block Heatmap-label-btn" data-value="IUPHAR">Protein</button>
        <button class="btn btn-outline-primary btn-block Heatmap-label-btn" data-value="Gene">Gene</button>
        <button class="btn btn-outline-primary btn-block Heatmap-label-btn" data-value="UniProt">UniProt</button>
      </div>
    </div>

    <!-- Color Styling -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="Heatmap_ColorStyling_Menu" data-toggle="dropdown">
        Colors
      </button>
      <div class="dropdown-menu p-3" style="min-width: 400px; padding: 10px 15px; left: 100%; top: 50%;
                  margin-left: 5px; position: absolute; transform: translateY(-40%);">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
                <select id="Heatmap_color_styling" style="width:180px" class="form-control" onchange="UpdateColorPickers()">
                <option value="One">White - Color</option>
                <option value="Two">Color - Color</option>
                <option value="Three" selected>Color - White - Color</option>
                </select>
            </div>
            <div class="col-xs-6 text-center">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <div style="margin-right: 15px;"><input type="text" id="Heatmap_colorPicker_min" style="width: 90px;" /></div>
                    <div><input type="text" id="Heatmap_colorPicker_max" style="width: 90px;" /></div>
                </div>
            </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-6" style="padding: 5px 15px;"><button id="GrayScale" class="btn btn-primary btn-block">Grey scale</button></div>
          <div class="col-xs-6" style="padding: 5px 15px;"><button id="GrayBlueScale" class="btn btn-primary btn-block">Grey-Blue scale</button></div>
          <div class="col-xs-6" style="padding: 5px 15px;"><button id="RedBlueScale" class="btn btn-primary btn-block">Red-Blue Scale</button></div>
          <div class="col-xs-6" style="padding: 5px 15px;"><button id="TealMagentaScale" class="btn btn-primary btn-block">Teal-Magenta Scale</button></div>
        </div>
      </div>
    </div>


    <!-- Layout Dropdown -->
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="Heatmap_Layout_Menu" data-toggle="dropdown">
        Layout
    </button>
    <div class="dropdown-menu p-3" style="min-width: 320px; padding: 10px 15px; left: 100%; top: 50%;
                margin-left: 5px; position: absolute; transform: translateY(-15%);">

        <!-- Label Styling Section -->
        <h5 class="text-center" style="margin-top: 5px; font-weight: bold;">Labels</h5>
        <div class="text-center" style="margin-bottom: 10px;">
        <button id="toggleLabelOrientation" class="btn btn-primary btn-sm" style="width: 130px;">Vertical</button>
        <button id="toggleLabelPosition" class="btn btn-primary btn-sm" style="width: 130px;">Bottom</button>
        </div>
        <div class="text-center" style="margin-bottom: 10px;">
        <label id="Heatmap_fontSizeSliderLabel">Label fontsize: 14px</label>
        <input type="range" class="form-control" min="10" max="16" id="Heatmap_fontSizeSlider" value="14">
        </div>
        <div class="text-center" style="margin-bottom: 20px;">
        <label id="Heatmap_receptor_fontSizeSliderLabel">Receptor fontsize: 14px</label>
        <input type="range" class="form-control" min="8" max="15" id="Heatmap_receptor_fontSizeSlider" value="14">
        </div>

        <!-- Data Styling Section -->
        <h5 class="text-center" style="font-weight: bold;">Data</h5>
        <div class="text-center" style="margin-bottom: 10px;">
        <button id="Heatmap_data_labels" class="btn btn-primary btn-sm" style="width: 150px;">Data Labels: Yes</button>
        </div>
        <div class="text-center" style="margin-bottom: 10px;">
        <button id="Heatmap_Border_Styling" class="btn btn-primary btn-sm" style="width: 150px;">Data Border: Yes</button>
        </div>
        <div class="text-center">
        <label id="Heatmap_data_fontSizeSliderLabel">Data Label Font Size: 12px</label>
        <input type="range" class="form-control" min="8" max="16" id="Heatmap_data_fontSizeSlider" value="12">
        </div>
    </div>
    </div>

    <!-- Edit Labels -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="Heatmap_LabelEdit_Menu" data-toggle="dropdown">
        Labels
      </button>
      <div class="dropdown-menu p-3" style="min-width: 300px; padding: 10px 15px; left: 100%; top: 50%;
                  margin-left: 5px; position: absolute; transform: translateY(-15%);">
        <div id="Heatmap_LabelInputs">
          <div class="form-group"><label for="labelInput_Value1">Dataset 1</label><input type="text" class="form-control" id="labelInput_Value1" oninput="updateLabel('Value1')"></div>
          <div class="form-group"><label for="labelInput_Value2">Dataset 2</label><input type="text" class="form-control" id="labelInput_Value2" oninput="updateLabel('Value2')"></div>
          <div class="form-group"><label for="labelInput_Value3">Dataset 3</label><input type="text" class="form-control" id="labelInput_Value3" oninput="updateLabel('Value3')"></div>
          <div class="form-group"><label for="labelInput_Value4">Dataset 4</label><input type="text" class="form-control" id="labelInput_Value4" oninput="updateLabel('Value4')"></div>
          <div class="form-group"><label for="labelInput_Value5">Dataset 5</label><input type="text" class="form-control" id="labelInput_Value5" oninput="updateLabel('Value5')"></div>
        </div>
      </div>
    </div>

    <!-- Download Button -->
    <div class="dropdown" style="position: relative;">
      <button type="button" class="btn btn-primary dropdown-toggle" id="Heatmap_DownloadDropdownToggle" style="font-size: 14px;">
        <span class="glyphicon glyphicon-download" style="vertical-align: top; line-height: 1.3;"></span> Download <span class="caret"></span>
      </button>
      <div class="dropdown-menu text-center"
           style="min-width: 160px; padding: 10px 15px; left: 100%; top: 50%;
                  margin-left: 5px; position: absolute; transform: translateY(-35%); display: none;">
        <button type="button" class="btn btn-primary btn-block" onclick="saveSvg(document.getElementById('Heatmap_plot_svg'), 'Heatmap.svg');">SVG</button>
        <button type="button" class="btn btn-primary btn-block" onclick="saveSvgAsPng(document.getElementById('Heatmap_plot_svg'), 'Heatmap.png');">PNG</button>
        <button type="button" class="btn btn-primary btn-block" onclick="saveSvgAsJpg(document.getElementById('Heatmap_plot_svg'), 'Heatmap.jpg');">JPG</button>
        <button type="button" class="btn btn-primary btn-block" onclick="saveSvgAsTiff(document.getElementById('Heatmap_plot_svg'), 'Heatmap.tiff');">TIFF</button>
      </div>
    </div>

  </div>
</div>

<!-- Heatmap container -->
<div id="heatmapPlot" class="text-center" style="margin-top: 40px;"></div>



{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/saveSvg.js' %}"></script>
<script src="{% static 'home/js/datamapper.js' %}"></script>
<script src="{% static 'home/js/spectrum_v1_8_1.js' %}"></script>
<script src="{% static 'home/js/ml.js' %}"></script>
<script src="{% static 'home/js/plotly_v1_58_5.js' %}"></script>


<!-- Universal scripts -->
<script>
$('.dropdown-menu').on('click', function(event){
    event.stopPropagation();
});

</script>

<script>
$(document).ready(function() {
    // Function to initialize Spectrum color picker
    function initializeColorPicker(elementId, start_color) {
        $("#" + elementId).spectrum({
            color: start_color,
            showPalette: true,
            showInput: true,
            preferredFormat: "hex",
            palette: [
                ["#000", "#FF0000", "#00FF00", "#0000FF", "#FFFF00"],
                ["#FF00FF", "#00FFFF", "#FFFFFF", "#C0C0C0", "#808080"],
                ["#800000", "#808000", "#008000", "#800080", "#008080"],
                ["#000080"]
            ],
            change: function(color) {
                updateHeatmapColors(); // Automatically update heatmap when color changes
            },
            move: function(color) {
                updateHeatmapColors(); // Update heatmap in real-time as user moves the slider
            }
        });
    }

    // Initialize all color pickers
    initializeColorPicker("Heatmap_colorPicker_min", "#1a80bb");
    initializeColorPicker("Heatmap_colorPicker_max", "#a00000");

    // Set Red-Blue scale as default when page loads
    $("#RedBlueScale").trigger("click");
});
</script>
  
<script>

var heatmap = {{ heatmap_data|safe }};
var label_converter = {{ Label_converter|safe }};

var label_x_converter = {'Value1':'Dataset 1','Value2':'Dataset 2','Value3':'Dataset 3','Value4':'Dataset 4','Value5':'Dataset 5'}

var heatmap_DataStyling = heatmap_DataStyling();

document.addEventListener("DOMContentLoaded", function() {
// Initialize heatmap
Heatmap(heatmap, 'heatmapPlot', heatmap_DataStyling, label_x_converter);
});
  
// Function to update the visualization
function Heatmap_updateVisualization() {
    // Clear existing SVG content
    d3.select("#heatmapPlot svg").remove();
    // Re-render the visualization
    Heatmap(heatmap, 'heatmapPlot', heatmap_DataStyling, label_x_converter);
    }

$('.dropdown-menu').on('click', function(event){
event.stopPropagation();
});

// Function to update a label and redraw the legend
function updateLabel(category) {
    var inputId = "labelInput_" + category;
    var newValue = document.getElementById(inputId).value;

    // Update the Label_dict
    label_x_converter[category] = newValue;
    console.log(category,label_x_converter[category])

    // Now re-run your createLegendBars with updated labels
    Heatmap_updateVisualization();
}

// ###################
// ## Color styling ##
// ###################

// Function to dynamically update heatmap based on selected colors or style
function updateHeatmapColors() {
    const Color_styling = document.querySelector('#Heatmap_color_styling').value;
    const Color_min = $("#Heatmap_colorPicker_min").spectrum("get").toHexString();
    const Color_max = $("#Heatmap_colorPicker_max").spectrum("get").toHexString();

    if (Color_styling === 'One') {
        heatmap_DataStyling.min_color = '#FFFFFF';
        heatmap_DataStyling.max_color = Color_max;
        heatmap_DataStyling.Number_of_colors = 'One';
    } else if (Color_styling === 'Two') {
        heatmap_DataStyling.min_color = Color_min;
        heatmap_DataStyling.max_color = Color_max;
        heatmap_DataStyling.Number_of_colors = 'Two';
    } else if (Color_styling === 'Three') {
        heatmap_DataStyling.min_color = Color_min;
        heatmap_DataStyling.max_color = Color_max;
        heatmap_DataStyling.Number_of_colors = 'Three';
    }

    // Trigger heatmap update after color change
    Heatmap_updateVisualization();
}

// Function to set color pickers to predefined colors (called by preset buttons)
function setColors(colorMin, colorMax, optionValue) {
    $("#Heatmap_colorPicker_min").spectrum("set", colorMin);
    $("#Heatmap_colorPicker_max").spectrum("set", colorMax);
    $("#Heatmap_color_styling").val(optionValue).trigger("change");
}

// Event listener for color complexity dropdown
$("#Heatmap_color_styling").change(function() {
    UpdateColorPickers(); // Update color pickers visibility based on complexity
    updateHeatmapColors(); // Update heatmap colors dynamically
});

// Preset buttons event listeners
$("#GrayScale").click(function() {
    heatmap_DataStyling.min_color = "#b8b8b8";
    heatmap_DataStyling.max_color = "#707070";
    setColors(heatmap_DataStyling.min_color, heatmap_DataStyling.max_color, "Two");
});

$("#GrayBlueScale").click(function() {
    heatmap_DataStyling.min_color = "#97a6c4";
    heatmap_DataStyling.max_color = "#384860";
    setColors(heatmap_DataStyling.min_color, heatmap_DataStyling.max_color, "Two");
});

$("#RedBlueScale").click(function() {
    heatmap_DataStyling.min_color = "#1a80bb";
    heatmap_DataStyling.max_color = "#a00000";
    setColors(heatmap_DataStyling.min_color, heatmap_DataStyling.max_color, "Three");
});

$("#TealMagentaScale").click(function() {
    heatmap_DataStyling.min_color = "#298c8c";
    heatmap_DataStyling.max_color = "#800074";
    setColors(heatmap_DataStyling.min_color, heatmap_DataStyling.max_color, "Three");
});

// Update color pickers visibility dynamically based on dropdown
function UpdateColorPickers() {
    const Color_styling_value = $('#Heatmap_color_styling').val();
    const Heatmap_Color_min_container = $("#Heatmap_Color_min_container");

    if (Color_styling_value == 'One') {
        Heatmap_Color_min_container.hide(); // Hide min color picker for 'One'
    } else {
        Heatmap_Color_min_container.show(); // Show min color picker for 'Two' and 'Three'
    }
}


// ###################
// ## Label Styling ##
// ###################

// Function to update the label styling
function updateLabelStyling() {
// Get the values for label styling from the data object
const xlabel_orientation = heatmap_DataStyling.rotation;
const xlabel_position = heatmap_DataStyling.label_position;
const xlabel_fontsize = document.getElementById('Heatmap_fontSizeSlider').value;
const ylabel_fontsize = document.getElementById('Heatmap_receptor_fontSizeSlider').value;

// Update the data styling values
heatmap_DataStyling.label_fontsize = xlabel_fontsize;
heatmap_DataStyling.receptor_fontsize = ylabel_fontsize;

// Update the heatmap
Heatmap_updateVisualization();
}

// Toggle label orientation between Horizontal and Vertical
const toggleLabelOrientation = document.getElementById("toggleLabelOrientation");
toggleLabelOrientation.addEventListener("click", function() {
if (heatmap_DataStyling.rotation === 90) {
    heatmap_DataStyling.rotation = 0;
    toggleLabelOrientation.textContent = "Horizontal";
} else {
    heatmap_DataStyling.rotation = 90;
    toggleLabelOrientation.textContent = "Vertical";
}
updateLabelStyling();  // Update the visualization when toggled
});

// Toggle label position between Bottom and Top
const toggleLabelPosition = document.getElementById("toggleLabelPosition");
toggleLabelPosition.addEventListener("click", function() {
if (heatmap_DataStyling.label_position === "Bottom") {
    heatmap_DataStyling.label_position = "Top";
    toggleLabelPosition.textContent = "Top";
} else {
    heatmap_DataStyling.label_position = "Bottom";
    toggleLabelPosition.textContent = "Bottom";
}
updateLabelStyling();  // Update the visualization when toggled
});

// Dynamic Font Size Updates
const Heatmap_fontSizeSlider = document.getElementById('Heatmap_fontSizeSlider');
const Heatmap_fontSizeLabel = document.getElementById('Heatmap_fontSizeSliderLabel');
Heatmap_fontSizeSlider.addEventListener('input', () => {
Heatmap_fontSizeLabel.textContent = `Label Font Size: ${Heatmap_fontSizeSlider.value}px`;
updateLabelStyling();
});

const Heatmap_receptor_fontSizeSlider = document.getElementById('Heatmap_receptor_fontSizeSlider');
const Heatmap_receptor_fontSizeLabel = document.getElementById('Heatmap_receptor_fontSizeSliderLabel');
Heatmap_receptor_fontSizeSlider.addEventListener('input', () => {
Heatmap_receptor_fontSizeLabel.textContent = `Receptor Font Size: ${Heatmap_receptor_fontSizeSlider.value}px`;
updateLabelStyling();
});


// ###################
// ## Data styling ##
// ###################

document.addEventListener('DOMContentLoaded', (event) => {

    // ########################
    // ## Toggle Data Labels ##
    // ########################
    const dataLabelsToggleButton = document.getElementById('Heatmap_data_labels');
    dataLabelsToggleButton.addEventListener('click', () => {
    heatmap_DataStyling.datalabels = !heatmap_DataStyling.datalabels; // Toggle the state

    // Update the button appearance and text
    if (heatmap_DataStyling.datalabels) {
        dataLabelsToggleButton.textContent = 'Data Labels: Yes';
        dataLabelsToggleButton.classList.add('btn-primary');
        dataLabelsToggleButton.classList.remove('btn-danger');
    } else {
        dataLabelsToggleButton.textContent = 'Data Labels: No';
        dataLabelsToggleButton.classList.remove('btn-primary');
        dataLabelsToggleButton.classList.add('btn-danger');
    }
    // Re-render heatmap
    Heatmap_updateVisualization();
    });

    // ############################
    // ## Toggle Data Border ##
    // ############################
    const dataBorderToggleButton = document.getElementById('Heatmap_Border_Styling');
    dataBorderToggleButton.addEventListener('click', () => {
    heatmap_DataStyling.data_border = !heatmap_DataStyling.data_border; // Toggle the state

    // Update the button appearance and text
    if (heatmap_DataStyling.data_border) {
        dataBorderToggleButton.textContent = 'Data Border: Yes';
        dataBorderToggleButton.classList.add('btn-primary');
        dataBorderToggleButton.classList.remove('btn-danger');
    } else {
        dataBorderToggleButton.textContent = 'Data Border: No';
        dataBorderToggleButton.classList.remove('btn-primary');
        dataBorderToggleButton.classList.add('btn-danger');
    }
    // Re-render heatmap
    Heatmap_updateVisualization();
    });

    // #############################
    // ## Data Label Font Size ##
    // #############################
    const Heatmap_data_fontSizeSlider = document.getElementById('Heatmap_data_fontSizeSlider');
    const Heatmap_data_fontSizeLabel = document.getElementById('Heatmap_data_fontSizeSliderLabel');

    // Update the font size label based on slider value
    Heatmap_data_fontSizeSlider.addEventListener('input', () => {
    const fontSize = Heatmap_data_fontSizeSlider.value;
    Heatmap_data_fontSizeLabel.textContent = `Data Label Font Size: ${fontSize}px`;
    heatmap_DataStyling.data_fontsize = fontSize;

    // Re-render heatmap as font size changes dynamically
    Heatmap_updateVisualization();
    });
});



// ###################
// ## Label switch ###
// ###################

// Receptor name toggle behavior
document.addEventListener('DOMContentLoaded', function () {
  const labelButtons = document.querySelectorAll('.Heatmap-label-btn');

  labelButtons.forEach(btn => {
    // Initialize active button if needed
    if (btn.getAttribute('data-value') === heatmap_DataStyling.LabelType) {
      btn.classList.remove('btn-outline-primary');
      btn.classList.add('btn-primary');
    }

    btn.addEventListener('click', function () {
      const selectedValue = this.getAttribute('data-value');
      heatmap_DataStyling.LabelType = selectedValue;
      Heatmap_updateVisualization();

      // Update button styling
      labelButtons.forEach(b => {
        b.classList.remove('btn-primary');
        b.classList.add('btn-outline-primary');
      });
      this.classList.remove('btn-outline-primary');
      this.classList.add('btn-primary');
    });
  });
});

document.addEventListener('DOMContentLoaded', function () {
  const downloadBtn = document.querySelector('#Heatmap_DownloadDropdownToggle');
  const downloadMenu = downloadBtn?.nextElementSibling;

  if (downloadBtn && downloadMenu) {
    downloadBtn.addEventListener('click', function (e) {
      e.stopPropagation();
      downloadMenu.style.display = (downloadMenu.style.display === 'block') ? 'none' : 'block';
    });

    document.addEventListener('click', function () {
      downloadMenu.style.display = 'none';
    });

    downloadMenu.addEventListener('click', function (e) {
      e.stopPropagation();
    });
  }
});


</script>

{% endblock %}
