{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/Spectrum_1_8_1.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2_4.1.0-rc.0._full.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/NewDrugsBrowser_datatables.min.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

<div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
    <div class="col-md-12" style="margin-bottom: 20px;">
      <div class="col-md-3" style="padding-top: 5px;">
        Receptor names:
          <div class="btn-group" role="group" id="gtp_plus">
            <button id="GPCRome_Protein" class="btn btn-info active">GtPdb</button>
              <button id="GPCRome_Entrez" class="btn btn-info">Gene</button>
              <button id="GPCRome_Uniprot" class="btn btn-info ">UniProt</button>
          </div>
      </div>
  
      <div class="col-md-2" style="padding-top: 5px;margin-left:20px">
        Icon toggle:
        <button id="ToggleIcon" class="btn btn-info active">On</button>
      </div>

      <div class="col-md-2" style="padding-top: 5px;">
        Legend toggle:
        <button id="ToggleIconLegend" class="btn btn-info active">On</button>
      </div>
  
  
      <!-- # Place holder # -->
      <div class="col-md-4"></div>
      <!-- # Download button # -->
      <div class="col-md-2">
        <div class="text-center">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" style="font-size: 14px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-download" style="vertical-align: top;line-height: 1.3"></span> Download <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right-middle">
              <li><a class="dropdown-item" href="javascript:saveSvg(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.svg');">SVG</a></li>
              <li><a class="dropdown-item" href="javascript:saveSvgAsPng(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.png');">PNG</a></li>
              <li><a class="dropdown-item" href="javascript:saveSvgAsJpg(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.jpg');">JPG</a></li>
              <li><a class="dropdown-item" href="javascript:saveSvgAsTiff(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.tiff');">TIFF</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>

<div id="image-container" data-image-url="{% static 'home/images/DataMapper/DataMapper_GPCRome_icon_legend.png' %}"></div>
<div class="col-md-12" style="margin-top: 0px;margin-bottom: 30px;">
    <div id="GPCRome_plot" class="text-center"></div>
</div>
</div>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/saveSvg.js' %}"></script>
<script src="{% static 'home/js/datamapper.js' %}"></script>
<script src="{% static 'home/js/spectrum_v1_8_1.js' %}"></script>
<script src="{% static 'home/js/select2_4.1.0-rc.0_full.js' %}"></script>
<script src="{% static 'home/js/NewDrugsBrowser_datatables.min.js' %}"></script>


<!-- Universal scripts -->
<script>
$('.dropdown-menu').on('click', function(event){
    event.stopPropagation();
});

</script>
<script>

// Load the data
var GPCRome_WheelDict = {{ GPCRomeData|safe }};
var PlotType = "{{ PlotType }}";

var GPCRomes_styling = {
    DataType: "Text",
    FontStyle: "Arial",
    FontsizeGlobal: "11px",
    FontsizeClass: "20px",
    showIcon: true,
    LabelType: "Protein",
    ShowLegend: true
};


let GPCRome_location = "GPCRome_plot";
DrawGPCRomeWheel(GPCRome_WheelDict, GPCRome_location, GPCRomes_styling);

// Recursively extract all "Data" values from a nested object
function extractDataValues(obj) {
    let values = [];

    function findData(node) {
        if (typeof node === "object" && node !== null) {
            for (const key in node) {
                const value = node[key];

                if (value && typeof value === "object" && "Data" in value) {
                    const dataValue = Number(value.Data);
                    if (!isNaN(dataValue)) {
                        values.push(dataValue);
                    }
                } else {
                    findData(value); // keep digging
                }
            }
        }
    }

    findData(obj);
    return values;
}

function updateGPCRome() {
    // Remove current
    d3.select("#" + GPCRome_location).select("svg").remove();
    // Redraw the GPCRome wheel plot
    DrawGPCRomeWheel(GPCRome_WheelDict, GPCRome_location, GPCRomes_styling); // ← Use the updated copy
}

document.getElementById("GPCRome_Protein").addEventListener("click", () => {
    GPCRomes_styling.LabelType = "Protein";
    updateGPCRome();
    setActiveButton("GPCRome_Protein");
});

document.getElementById("GPCRome_Uniprot").addEventListener("click", () => {
    GPCRomes_styling.LabelType = "Uniprot";
    updateGPCRome();
    setActiveButton("GPCRome_Uniprot");
});

document.getElementById("GPCRome_Entrez").addEventListener("click", () => {
    GPCRomes_styling.LabelType = "Entrez";
    updateGPCRome();
    setActiveButton("GPCRome_Entrez");
});

function setActiveButton(id) {
    document.getElementById("GPCRome_Protein").classList.remove("active");
    document.getElementById("GPCRome_Uniprot").classList.remove("active");
    document.getElementById("GPCRome_Entrez").classList.remove("active");
    document.getElementById(id).classList.add("active");
}

// Attach event listener to the button
d3.select("#ToggleIcon").on("click", toggleIcon);

// Function to toggle the icon visibility and redraw the GPCRomes
function toggleIcon() {
    const button = d3.select("#ToggleIcon");

    // Toggle the showIcon property in GPCRomes_styling
    GPCRomes_styling.showIcon = !GPCRomes_styling.showIcon;

    // Update button text and state
    if (GPCRomes_styling.showIcon) {
        button.text("On");
        button.classed("active", true);
    } else {
        button.text("Off");
        button.classed("active", false);
    }

    // Redraw the GPCRomes with the updated icon state
    updateGPCRome();
}
// Attach event listener to the button
d3.select("#ToggleIconLegend").on("click", toggleIconLegend);

// Function to toggle the icon visibility and redraw the GPCRomes
function toggleIconLegend() {
    const button = d3.select("#ToggleIconLegend");

    // Toggle the showIcon property in GPCRomes_styling
    GPCRomes_styling.ShowLegend = !GPCRomes_styling.ShowLegend;

    // Update button text and state
    if (GPCRomes_styling.ShowLegend) {
        button.text("On");
        button.classed("active", true);
    } else {
        button.text("Off");
        button.classed("active", false);
    }

    // Redraw the GPCRomes with the updated icon state
    updateGPCRome();
}


</script>

{% endblock %}
