{% extends "home/base.html" %}
{% load static %}
{% load structure_extras %}

<!-- CSS -->
{% block addon_css %}
    <!-- <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" /> -->
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
    <link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/modal.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.powertip.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/NewDrugsBrowser_datatables.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/select2_4.1.0-rc.0._full.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/BusyLoad.css' %}" type="text/css">
    <style>
      /*Structure preview in tooltip*/
      pre {
          display: block;
          font: 100% "Courier New", Courier, monospace;
          padding: 10px;
          border: 1px solid #bae2f0;
          background: #e3f4f9;
          margin: .5em 0;
          overflow: auto;
          width: 800px;
      }

      #struct {
          display: none;
          position: absolute;
          z-index: 100;
          border: 1px;
          background-color: white;
          border-style: solid;
          border-width: 1px;
          padding: 3px;
      }
      #Init_loader {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 60vh;
        }
    #select-all {
        transform: scale(1.2);
    }
    .border-left {
        border-left: 1px solid #cccccc !important; /* Adjust the width and color as needed */
    }
    
    </style>
{% endblock %}

<!-- Html body -->
{% block content %}
<!-- <div class="container" id="Target_selection_tool_container" style="margin-top: 30px;display: none;"> -->
<div id="browser">
    <div style='width:100%; display:inline;'>
        <div class="btn-group">
            <a id="dlink"  style="display:none;"></a>
            <div id="excel_table"  style2="display:none;"></div>
            <input class="btn btn-default btn-s" type="button" id="toggle_columns_btn" value="Show hidden columns" href="javascript:void(0)">
            <input class="btn btn-default btn-s" type="button" id="representative_btn" value="Representative structures (state & receptor)" href="javascript:void(0)" data-toggle="buttons"></input>
        </div>
        <div class="btn-group" style='padding-left:10px;'>
            <label class="btn btn-default btn-s" id="align_btn" href="javascript:void(0)">
                Align seqs
            </label>
            <label class="btn btn-default btn-s" id="download_btn" href="javascript:void(0)">
                Download PDBs
            </label>
            <label class="btn btn-default btn-s" id="superpose_btn" href="javascript:void(0)">
                Superposition
            </label>
            <input class="btn btn-default btn-s" type="button" onclick="GlobalTableToExcel('structures_scrollable', 'Structure data', 'GPCRdb_structures.xls')" value="Export Excel"></input>
        </div>
    </div>
    <div class="container" id="StructureBrowserContainer" style="margin-top: 30px;">
        <div id="Init_loader"></div>
        <div class="col-md-12" id="StructureBrowserTableContainer" style="display: none">
            <div>
                <table width="100%" class="display compact" id="StructureBrowserTable">
                    <thead>
                        <!-- Dummy Header Row for Complex Header Fix -->
                        <tr>
                            <td colspan="31" style="text-align: center" data-dt-order="disable"></td>
                        </tr>
                        <!-- Super Header Row -->
                        <tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
                            <th colspan="8" style="text-align:center;">Receptor</th>
                            <th colspan="8" style="text-align:center;border-left: 1px solid #cccccc;">Structure</th>
                            <th colspan="4" style="text-align:center;border-left: 1px solid #cccccc;">Signal protein</th>
                            <th colspan="2" style="text-align:center;border-left: 1px solid #cccccc;">Auxiliary protein</th>
                            <th colspan="3" style="text-align:center;border-left: 1px solid #cccccc;">Structure ligand</th>
                            <th colspan="2" style="text-align:center;border-left: 1px solid #cccccc;">Physiological ligand</th>
                            <th colspan="2" style="text-align:center;border-left: 1px solid #cccccc;">Sodium ion site</th>
                            <th colspan="2" style="text-align:center;border-left: 1px solid #cccccc;">Reference</th>
                        </tr>
                        <!-- Header Row -->
                        <tr>
                            <th style="text-align: center;">
                                <input type="checkbox" id="select-all">
                            </th>
                            <th style="text-align: center;">ID</th>
                            <th style="text-align: center;">Gene</th>
                            <th style="text-align: center;">UniProt</th>
                            <th style="text-align: center;">Protein</th>
                            <th style="text-align: center;">Receptor family</th>
                            <th style="text-align: center;">Class</th>
                            <th style="text-align: center;">Species</th>
                            <th style="text-align: center;border-left: 1px solid #cccccc;">Method</th>
                            <th style="text-align: center;">PDB</th>
                            <th style="text-align: center;">Refined<br>structure</th>
                            <th style="text-align: center;">Resolution</th>
                            <th style="text-align: center;">Preferred<br>chain</th>
                            <th style="text-align: center;">State</th>
                            <th style="text-align: center;">Degree<br>active (%)</th>
                            <th style="text-align: center;">% of Seq</th>
                            <th style="text-align: center;border-left: 1px solid #cccccc;">Family</th>
                            <th style="text-align: center;">Subtype</th>
                            <th style="text-align: center;">Note</th>
                            <th style="text-align: center;">% of Seq</th>
                            <th style="text-align: center;border-left: 1px solid #cccccc;">Fusion</th>
                            <th style="text-align: center;">Antibodies</th>
                            <th style="text-align: center;border-left: 1px solid #cccccc;">Name</th>
                            <th style="text-align: center;">Type</th>
                            <th style="text-align: center;">Modality</th>
                            <th style="text-align: center;border-left: 1px solid #cccccc;">Name</th>
                            <th style="text-align: center;">Type</th>
                            <th style="text-align: center;border-left: 1px solid #cccccc;">D2x50<br>S3x39</th>
                            <th style="text-align: center;">Sodium in<br>structure</th>
                            <th style="text-align: center;border-left: 1px solid #cccccc;">Authors</th>
                            <th style="text-align: center;">Reference</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;" data-dt-order="disable"></td>
                            <td style="text-align: center;" data-dt-order="disable"></td>
                            <td style="text-align: center;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="superposition-modal" class="modal">
  <!-- Modal content -->
    <div class="modal-content">
        <button id="close_superposition_modal" style="float:right;display:inline;" aria-hidden="true" aria-label="Close" class="close" data-dismiss="superposition-modal">&times;</button>
        <h3>Pick reference from selection</h3>
        <p>Superpositions structures selected in the browser to the reference checked in this table</p>
        <br>
        <table id="superposition_modal_table" class="display compact" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>PDB</th>
                    <th>UniProt</th>
                    <th>IUPHAR</th>
                    <th>Rec. family</th>
                    <th>Class</th>
                    <th>Species</th>
                    <th>State</th>
                    <th>PDB Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- Javascript populates the table from selected rows -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- Javascript -->
{% block addon_js %}
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/alignment.js' %}"> </script>
<script src="{% static 'home/js/browser_functions.js' %}"> </script>
<!-- <script src="{% static 'home/js/structure_browser.js' %}"> </script> -->
<script src="{% static 'home/js/structure_browser_modern.js' %}"></script>
<script src="{% static 'home/js/jquery.powertip.js' %}"></script>
<script src="{% static 'home/js/xlsx.full.min.js' %}"></script>  
<script src="{% static 'home/js/select2_4.1.0-rc.0_full.js' %}"></script>
<script src="{% static 'home/js/NewDrugsBrowser_datatables.min.js' %}"></script>
<script src="{% static 'home/js/NorgesDTFilterBuilder.js' %}"></script>
<script src="{% static 'home/js/BusyLoad.js' %}"></script>

<script>
  window.addEventListener("hashchange", updateSuperpositionButtonConfigurationModern, false);
  // Call this function on page load to set the initial configuration
  document.addEventListener("DOMContentLoaded", updateSuperpositionButtonConfigurationModern);
</script>

<script>
  
$("#Init_loader").show();
$("#Init_loader").busyLoad("show", { 
    spinner: "accordion", 
    text: "Loading data...", 
    fontSize: "2.5rem",
    textClass: "custom-loader-text", // Ensures easy access for text changes
    textPosition: "top",
    textMargin: "-6rem",
    color: "black",
    background: "white",
});

const globalSelectedIds = new Set();

$(document).ready(function() {

    var columnDefs = [
        { className: "dt-head-nowrap dt-head-center dt-center dt-body-center expand", targets: "_all" },
        { targets: [0], orderable: false },  // Disable ordering on the checkbox column
        { targets: [8,16,20,22,25,27,29], className: 'border-left' },
    ];

    var columns = [
        // Receptor
        {data: "id", name: "Select", orderable: false,searchable: false, render: function (data, type, row) {return `<input type="checkbox" class="select-row" value="${data}">`;}},
        { data: "id", name: "ID", visible:false},
        {data: "Gene", name: "Gene"},
        { data: "entry_short", name: "UniProt", render: (d, t, r) => t === 'display' && r ? `<a href="${r.uniprot_link}" target="_blank">${d}</a>` : d },
        { data: "iuphar_name", name: "Protein", render: (d, t, r) => t === 'display' && r ? `<a href="${r.iuphar_link}" target="_blank">${d}</a>` : d },
        { data: "family", name: "Receptor family" },
        { data: "class", name: "Class" },
        { data: "species", name: "Species" },
        // Structure
        { data: "method", name: "Method" },
        { data: "pdb", name: "PDB" },
        { data: "refined", name: "Refined structure", render: (d, t, r) => d === "-" ? "-" : (t === 'display' && r ? `<a href="${d}" target="_blank">${d.replace("refined/", "").toUpperCase()}_refined</a>` : d.replace("refined/", "").toUpperCase() + "_refined") },
        { data: "resolution", name: "Resolution", render: d => d ? parseFloat(d).toFixed(1) : "-" },
        { data: "preferred_chain", name: "Preferred chain" },
        { data: "state", name: "State" },
        { data: "active_pct", name: "Degree active (%)", render: d => d !== null && d !== undefined ? Math.round(d) : "-" },
        { data: "coverage", name: "% of Seq" },
        { data: "arrestin_family", name: "Family" },
        { data: "arrestin_name", name: "Subtype" },
        { data: "arrestin_note", name: "Note" },
        { data: "arrestin_coverage", name: "% of Seq" },
        { data: "fusions", name: "Fusion" },
        { data: "antibodies", name: "Antibodies" },
        { data: "ligands", name: "Name" },
        { data: "ligand_type", name: "Type" },
        { data: "ligand_role", name: "Modality" },
        { data: "endo_ligands", name: "Name" },
        { data: "endo_type", name: "Type" },
        { data: "sodium_site", name: "Sodium" },
        { data: "sodium", name: "In Strucure" },
        { data: "authors", name: "Autors" },
        { data: "reference", name: "Reference" }
    ];

    function initializeDataTable(tableId, data, columns, columnDefs) {
        // Initialize DataTable
        $(tableId).DataTable({
            dom: "<'row'<'col-sm-3 dt-btn'B><'col-sm-6'><'col-sm-3 text-end'f>>" +  // Buttons and search bar in the same row
            "<'row'<'col-sm-12'tr>>" +                                       // Table rows
            "<'row'<'col-sm-12'ip>>",                                        // Pagination and info
            order: [0, "asc"],              // Initial sort order
            pageLength: 20,                 // Show all rows by default
            data: data,                     // Data source
            columns: columns,               // Column definitions
            columnDefs: columnDefs,         // Column-specific settings
            autoWidth: true,               // Disable automatic column width calculation
            processing: false,              // Disable processing indicator
            deferRender: true,              // Optimize rendering for large data sets
            paging: true,                  // Disable pagination
            scrollX: true,                  // Enable horizontal scrolling
            scrollY: "60vh",                // Enable vertical scrolling with a height of 50% of the viewport
            scrollCollapse: true,           // Allow the table to collapse vertically if data is less than `scrollY`
            fixedHeader: false, // Disable FixedHeader
            buttons: [
                { 
                    text: 'Reset filters', 
                    action: function () { reset_all(); } 
                }
            ]
        });
    }
    function createFilters() {
        // Logic to create filters...
        var column_filters = [];
        const Table_selector = $("#StructureBrowserTable").DataTable();
        // CreateColumnFilters --> CreateColumnFilters(datatable_selector,column_number, column_range, filter_type)
        column_filters = column_filters.concat(CreateColumnFilters(Table_selector,1,9,"Multi-select-exact"));
        column_filters = column_filters.concat(CreateColumnFilters(Table_selector,10,1,"Range-float-vertical"));
        column_filters = column_filters.concat(CreateColumnFilters(Table_selector,11,2,"Multi-select-exact"));
        column_filters = column_filters.concat(CreateColumnFilters(Table_selector,13,3,"Range-float-vertical"));
        column_filters = column_filters.concat(CreateColumnFilters(Table_selector,16,3,"Multi-select-exact"));
        column_filters = column_filters.concat(CreateColumnFilters(Table_selector,19,1,"Range-float-vertical"));
        column_filters = column_filters.concat(CreateColumnFilters(Table_selector,20,11,"Multi-select-exact"));
        // // Create the filteres
        createDropdownFilters(Table_selector,column_filters);
    }

    // ✅ Fetch data and initialize DataTable
    fetch("/structure/data/")
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(structure_data => {
        // console.log("Data received:", structure_data);  // Check if array is valid
        initializeDataTable("#StructureBrowserTable", structure_data, columns, columnDefs);
        createFilters();
        $("#Init_loader").busyLoad("hide");
        $("#Init_loader").hide();
        $("#StructureBrowserTableContainer").show();  // Show the container after init
        // Adjust column widths now that the table is visible
        const table = $("#StructureBrowserTable").DataTable();
        table.columns.adjust().draw(false);
    })
    .catch(error => {
        console.error("Failed to fetch structure data:", error);
        $("#StructureBrowserTable").after(`
            <div class="alert alert-danger mt-3" role="alert">
                Could not load structure data. Please try again later or check your network connection.
            </div>
        `);
    });

    // Handle "Select All" checkbox
    $('#select-all').on('click', function () {
        const table = $("#StructureBrowserTable").DataTable();
        const rows = table.rows({ search: 'applied', page: 'current' }).nodes();
        const checked = this.checked;

        $('input.select-row', rows).prop('checked', checked);

        table.rows({ page: 'current' }).every(function () {
            const rowData = this.data();
            const id = String(rowData?.id);
            if (checked) {
                globalSelectedIds.add(id);
            } else {
                globalSelectedIds.delete(id);
            }
        });
    });

    // Initialize buttons
    initAlignButton("#StructureBrowserTable");
    initDownloadButton("#StructureBrowserTable");
    initSuperpositionButton("#StructureBrowserTable");


    // $('#StructureBrowserTable').on('draw.dt', function () {
    //     const table = $('#StructureBrowserTable').DataTable();

    //     table.rows({ page: 'current' }).every(function () {
    //         const rowNode = this.node();
    //         const rowData = this.data();
    //         const id = String(rowData?.id);

    //         if (globalSelectedIds.has(id)) {
    //             $(rowNode).find(".select-row").prop("checked", true);
    //         }
    //     });
    // });

    $(document).on("change", ".select-row", function () {
        const id = $(this).val();
        if (this.checked) {
            globalSelectedIds.add(id);
        } else {
            globalSelectedIds.delete(id);
        }
    });
});

</script>
{% endblock %}


